@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
.has-background-secondary {
  background-color: #2b3945 !important;
}

html body {
  font-family: "Nunito Sans", sans-serif !important;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar {
  background-color: #2b3945;
  padding: 1.5rem 4rem 2rem 5rem;
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title {
  background-color: burlywood;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.toggle-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.switch-container {
  background-color: #202c37;
  position: relative;
  border-radius: 50px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 6px;
  height: 23px;
  width: 48px;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.switch {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  height: 17px;
  width: 17px;
  top: 3px;
  left: 5px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.checkbox:checked + .switch-container .switch {
  -webkit-transform: translateX(21px);
          transform: translateX(21px);
}

.d-mode {
  color: white;
  margin-left: 5px;
  cursor: pointer;
}

input {
  border: 0 !important;
  color: white !important;
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.icon {
  color: white !important;
}

.input:focus ~ .icon {
  color: white !important;
}

.input::-webkit-input-placeholder {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
}

.input:-ms-input-placeholder {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
}

.input::-ms-input-placeholder {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
}

.input::placeholder {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
}

select {
  border: 0 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 30px;
}
/*# sourceMappingURL=App.css.map */